/*applies to all pages*/
body {
    margin: 5px;
    padding: o;
    font-size: 18px;
    font-family: Arial, Helvetica, Helvetica Neue sans-serif;
    /*border: 2px solid black;*/
    max-width: 100%;
    background-image: url("background1.gif");
    /*background: whitesmoke;*/
    color: gray; 
}

/*applies to all pages*/
header {
    width: auto;
    background: #ffffff;
    border-bottom: 2px solid black;
    padding: 50px;
    text-align: right;
}

/*applies to all pages*/
h1 {
    color:#ffffff;
    background: #4aaaa5;
    width: auto;
    float: left;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0;
    margin-top: -25px;
    margin-left: 50px;
    padding: 10px;
    /*border-bottom: 2px solid #cccccc;*/
}

/*applies to all pages */
nav {
    color: gray;
    list-style-type: none;
    /*border: 2px solid yellow;*/
    width: 300px;
    float:right;
    list-style-type:none;
    font-size: 11px;
}

#activelinks {
    text-decoration: none;
}

/*applies to all pages*/
li {
    display: inline;
}

/*applies to index and contact pages only*/
.main {
    clear:both;
    margin-top: 50px 175px 50px 175px;
    border: 2px solid black;
    background: #ffffff;
    padding: 20px;
    line-height: 150%;
}

/*applies to all pages*/
a:hover {
    font-weight: bold;
    color: red;
}

/*applies to all pages*/
a:visited {
    color: gray;
}

/*applies to all pages*/
a:active {
    color: greenyellow;
    background: black;
    transition: 0.5s;
}

/*applies to portfolio page only */
.SecondMain {
    clear:both;
    margin-top: 50px;
    margin-right: 175px;
    margin-left: 175px;
    margin-bottom: 50px;
    border: 2px solid black;
    background: #ffffff;
    padding: 50px 50px 750px 50px;
    width: 50%;
    height: 100%;
}

/*.wrapper{
    max-width: 960px;
}*/

/*applies to index page only*/
img {
    margin: 5px;
    float:left;
}

/*applies to all pages*/
h2 {
    clear: both;
    color: #4aaaa5;
    border-bottom: 2px solid lightgray;
    padding-bottom: 5px;
    padding-top: 5px;
    text-shadow: 1px 1px black;
}

/*applies to index and contact pages only */
.container {
    clear: both;
    background-color: #ffffff;
    margin: 50px;
    line-height: 150%;
}
.thirdmain {
    margin: 50px 100px;
    background: #ffffff;
    padding: 50px 50px 50px 50px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
/*applies to portfolio page only*/
.box-set {
    background: white;
    text-align: center;
    margin-bottom: 50px;
}

/*applies to portfolio page only*/
.box {
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    margin: 5px;
}

/*applies to portfolio page only*/
h3 {
    position: absolute;
    background: orange;
    bottom: -20px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
}

/*applies to portfolio page only*/
.boximage {
    margin: 5px 0;
}
/*Part of Contact page for name/email/message */
.response {
    border: 1px solid  darkgray;
    color: lightgray;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
      
}

/*button on the contact page*/
.button {
    background: #4aaaa5;
    color:white;
    padding: 10px;
}

/*footer for all pages*/
footer {
    position: sticky;
    clear:both;
    border-top: 4px solid #4aaaa5;
    text-align: center;
    background: rgb(143, 143, 143);
    padding: 20px 0 5px;
    color: #cccccc;
    width: 100%;
}


@media only screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .thirdmain {
        margin: 50px;
    }
}

@media only screen and (max-width: 640px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header {
        background: #4aaaa5;
        border: none;
        margin: 0;
        width: 100%;
        display: inline-block;
        padding: 20px;
    }
    h1 {
        float: left;
        background: none;
        width: 100%;
        margin: 0;
        float: left;
        padding: 0;
    }

    navbar {
        width: 100%;
        text-align: center;
        background: whitesmoke;
        padding: 0;
        clear: both;
    }

    ul {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        margin: 0;
    }

    .main{
        margin: 0;
        padding: 10px;
        background: #ffffff;
    }
}